* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 1vw;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-columns: auto 50vw 30vw auto;
    grid-template-rows: auto 1fr;
    grid-gap: 0.5vw;
    padding: 0.5vw;
}

#render-controls {
    grid-area: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5vw;
}

#scene-controls {
    grid-area: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 0.5vw;
}

#render-output {
    grid-area: 2 / 2;
    display: flex;
}

#model-list {
    grid-area: 2 / 3;
    display: block;
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
}

#render-output canvas {
    object-fit: contain;
    width: 100%;
    height: 100%;

    image-rendering: pixelated;
}

#add-model-button {
    grid-area: 2 / 1 / 3 / 4;
}

.model {
    border: #282828 0.05vw solid;
    font-size: 0.8rem;
    margin-bottom: 0.5vw;
    padding: 0.5vw;
}

.model-banner {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 0.5vw;
}

.model-edit-button:after {
    content: "Edit";
}

.edit-enabled .model-edit-button:after {
    content: "Hide";
}

.model-data-section {
    display: none;
}

.edit-enabled .model-data-section {
    display: block;
}

.model-grid {
    margin-top: 0.5vw;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0.5vw;
}

.model-name {
    font-size: 1rem;
}

.material {
    border: #282828 0.05vw solid;
    font-size: 0.8rem;
    padding: 0.5vw;
    display: grid;
    grid-template-columns: auto 12vw;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0.5vw;
}

.button {
    user-select: none;
    cursor: pointer;

    display: inline-block;
    padding: 0.23vw 0.3vw 0.25vw 0.3vw;

    line-height: 80%;
    font-size: 1rem;
    text-align: center;

    border: #282828 0.05vw solid;
    background-color: #DDD;
    color: #282828;
}

.button:hover {
    background-color: #CCC;
}

.button:active {
    background-color: #BBB;
}

.input-label {
    color: #222;
}

input:focus {
    outline: none;
}

input[type="number"] {
    text-align: right;
    font-size: 0.8rem;
    padding: 0 0.2vw;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
}

input[type="color"] {
    -webkit-appearance: none;
    border: #282828 0.05vw solid;
    height: 1vw;
    width: 100%;
    cursor: pointer;
}

input::-webkit-color-swatch-wrapper, input::-webkit-color-swatch {
    padding: 0;
    margin: 0;
    border: none;
}

.material-specularity {
    border: #282828 0.05vw solid;
}

.material-component img {
    width: calc(100% - 2 * 0.05vw);
    border: #282828 0.05vw solid;
    image-rendering: pixelated;
}

.vec3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5vw;
}

.vec3-component {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    border: #282828 0.05vw solid;
    padding-left: 0.2vw;
}

.vec3-component-label {
    margin: 0;
    color: #777;
}

.vec3-component-value {
    border: none;
    width: 5vw;
}
